<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Story</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="main_img">
          <img src="/image/nerd2.png" class="size_image" />
        </div>
        <nav>
          <a href="/" class="btn-no-style">Home</a>
          {{! <a href="/dashboard" class="btn-no-style">About</a> }}

          {{#if loggedIn}}
            <a href="/dashboard" class="btn-no-style">New Post / Edit Post</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a class="btn-no-style" href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <h3>© 2022 Scotts Tech Blog </h3>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>