<section class="form-entry">
    <h3>Make a Post!</h3>

  <form class="new-review-form" enctype="multipart/form-data">
      <div>
      <label for="review-title">Title</label>
      <input type="text" id="review-title" name="review-title" />
    </div>
    <div>
      <label for="review-text">Post Text</label>
      <input id="review-text" name="review-text" />
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if reviews.length}}
    <section>
        <h2>Your Posts</h2>
        <div>
            {{#each reviews as |review|}}
                <div class="edit_review_section">
                  {{> slice review edit =1 loggedIn = ../loggedIn}}
                    {{!-- {{> review-info review}}
                    <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a> --}}
                </div>
            {{/each}}
        </div>
    </section>
{{/if}}

<script src="/javascript/add-review.js"></script>