<h2>Make a Post, leave a comment... have fun!</h2>
<ol class="review-list">

    {{#each reviews as |review|}}

        <li>

            {{> slice review loggedIn = ../loggedIn }}

        </li>
    {{/each}}
</ol>