<form class="login-form">
  <div class="main_title">sign in</div>
  <div>
    <input type="text" placeholder="email" id="email-login" />
  </div>
  <div>
    <input type="password" placeholder="password" id="password-login" />
  </div>
  <div>
    <button type="submit">log in</button>
  </div>
</form>

<form class="signup-form">
  <div class="main_title">sign up</div>
  <div>
    <input type="text" placeholder="username" id="username-signup" />
  </div>
  <div>
    <input type="text" placeholder="email" id="email-signup" />
  </div>
  <div>
    <input type="password" placeholder="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">sign up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>